--- 
menu_title: Вебинары (онлайн-семинары)
title: Вебинары (онлайн-семинары) по государственному и муниципальному заказу
---
- actual_webinars.each do |i|
  .post
    %h2.title= link_to(i[:title], i.identifier)
    %p.meta
      %span.date
        Дата:&nbsp;
        %span.price
          = event_date(i[:start_at],i[:end_at])
      %span.posted
        Стоимость:
        %span.price= number_to_currency i[:price]
    .entry
      %p= i[:brief] 
      -#%p
        %strong
          Ведущий вебинара: 
        = i[:lecturer]
      %p
        %strong Время проведения вебинара:
        ="c #{time(i[:start_at])} до #{time(i[:end_at])} (по моск. времени)"
      %p.links
        = link_to("Программа вебинара", i.identifier)
        &nbsp;|&nbsp;
        = link_to('Перейти на страницу регистрации', "http://www.mirdo.ru/products/#{i[:id]}")
