---
title: Как проходит обучение
---

<h1 class='page_title'> Часто задаваемые вопросы о вебинарах и дистанционных курсах </h1>
<div class='entry'>
<div><a name="toc"></div>
<div class='toc'>

		<ul>
			<li><a href="#obschie-voprosy">Общие вопросы</a>
			<ul>
				<li><a href="#kakimi-normativnymi-dokumentami-reglamentiruetsya-distantsionnoe-obuchenie">Какими нормативными документами регламентируется дистанционное обучение?</a></li>
				<li><a href="#kogda-i-kak-mozhno-zapisatsya-na-obuchenie-ili-prinyat-uchastie-v-vebinare">Когда и как можно записаться на обучение или принять участие в вебинаре?</a></li>

				<li><a href="#mozhno-li-zaklyuchit-dogovor-s-fizicheskim-litsom-i-proizvesti-oplatu-cherez-sberkassu-ili-oplatu-proizvodit-tolko-yuridicheskoe-litso">Можно ли заключить договор с физическим лицом и произвести оплату через сберкассу или оплату производит только юридическое лицо?</a></li>
				<li><a href="#kakovy-tehnicheskie-trebovaniya-dlya-uchastiya-v-vebinare-ili-prohozhdeniya-distantsionnogo-kursa">Каковы технические требования для участия в вебинаре или прохождения дистанционного курса?</a></li>
			</ul></li>
			<li><a href="#distantsionnye-kursy">Дистанционные курсы</a>
      <ul>
        <li><a href="#ranchigs">Кто проводит обучение?</a></li>
        <li><a href="#kak-oformit-zajavky-na-obuchenie">Как оформить заявку на обучение?</a></li>
        <li><a href="#kto-zaklyuchaet-dogovor-i-kakie-dokumenty-oformlyayutsya-dlya-oplaty-za-obuchenie">Кто заключает договор и какие документы оформляются для оплаты за обучение?</a></li>
        <li><a href="#kogda-i-kak-mozhno-nachat-obuchenie">Когда и как можно начать обучение?</a></li>
				<li><a href="#kakie-podvodnye-kamni-mogut-tormozit-nachalo-obucheniya">Какие «подводные камни» могут тормозить начало обучения?</a></li>
				<li><a href="#iz-chego-sostoit-uchebnyy-material-distantsionnogo-kursa-povysheniya-kvalifikatsii">Из чего состоит учебный материал дистанционного курса повышения квалификации?</a></li>
				<li><a href="#kak-prohodit-obuchenie">Как проходит обучение?</a></li>
				<li><a href="#kto-reglamentiruet-kolichestvo-uchebnyh-chasov-v-techenie-dnya-ili-eto-vybiraetsya-individualno">Кто регламентирует количество учебных часов в течение дня, или это выбирается индивидуально?</a></li>
				<li><a href="#ekzamenatsionnye-i-promezhutochnye-testy-sdayutsya-onlayn-v-realnom-vremeni-ili-zapolnyayutsya-doma-i-otpravlyayutsya-v-elektronnom-vide">Экзаменационные и промежуточные тесты сдаются онлайн-в реальном времени или заполняются дома и отправляются в электронном виде?</a></li>

				<li><a href="#chto-delat-esli-po-uvazhitelnoy-prichine-net-vozmozhnosti-sdat-testy-soglasno-raspisaniyu-obucheniya">Что делать если по уважительной причине нет возможности сдать тесты согласно расписанию обучения?</a></li>
				<li><a href="#kakoy-itogovyy-dokument-vydaetsya-posle-obucheniya-i-kak-ego-poluchit">Какой итоговый документ выдается после обучения и как его получить?</a></li>
				<li><a href="#v-kakoe-vremya-sutok-predusmotreny-onlayn-konsultatsii-u-menya-8-chasovoy-rabochiy-den">В какое время суток предусмотрены онлайн-консультации (у меня 8 часовой рабочий день)?</a></li>
			</ul></li>
			<li><a href="#vebinary-onlayn-seminary">Вебинары, онлайн-семинары</a>
			<ul>
				<li><a href="#chto-takoe-vebinar">Что такое вебинар?</a></li>

				<li><a href="#chto-delat-posle-oformleniya-zayavki-na-uchastie-v-vebinare">Что делать после оформления заявки на участие в вебинаре?</a></li>
        <li><a href="#kak-oplachivat"> Как оплачивать участие в вебинаре и какие документы предоставляются?</a></li>
				<li><a href="#kak-vklyuchitsya-v-vebinar">Как включиться в вебинар?</a></li>
				<li><a href="#kak-prohodit-vebinar-mozhno-li-zadavat-voprosy-lektoru">Как проходит вебинар, можно ли задавать вопросы лектору?</a></li>
				<li><a href="#predusmotren-li-na-vebinare-razdatochnyy-material">Предусмотрен ли на вебинаре раздаточный материал ?</a></li>
			</ul></li>
		</ul></div>
<h3><a name="obschie-voprosy">Общие вопросы</a></h3>

<h4><a name="kakimi-normativnymi-dokumentami-reglamentiruetsya-distantsionnoe-obuchenie">Какими нормативными документами регламентируется дистанционное обучение?</a></h4>
<p>Обучение в сфере размещение заказов регламентируется № 94-ФЗ от 21.07.2005г.  "О Размещении заказов на поставки товаров, выполнение работ, оказание услуг для государственных и муниципальных нужд". </p>
<p>Дистанционные образовательные технологии в обучении и требования предъявляемые к учебным программам на соответствие их государственным образовательным стандартам регламентируются законом РФ от 10 июля 1992 года № 3266-I&quot;Об образовании&quot; (с изменениями от  28.02.2012 N 11-ФЗ) и <a href="http://www.edu.ru/db-mon/mo/Data/d_05/m137.html">приказом №137</a> Министерства образования и науки РФ от 06.05.2005 «Об использовании дистанционных образовательных технологий».</p>
<p>Объемы учебной нагрузки и способы обучения регламентируются Постановлением Правительства РФ от 6 мая 2008 г. N 362 &#8220;Об утверждении государственных требований к профессиональной переподготовке, повышению квалификации и стажировке государственных гражданских служащих Российской Федерации&#8221;.</p>
<p>Программы повышения квалификации и профессиональной переподготовки реализуются в  соответствии с требованиями Указа Президента Российской Федерации от 28 декабря 2006 г. № 1474 «О дополнительном профессиональном образовании государственных гражданских служащих Российской Федерации» и Федеральным законом № 79-ФЗ от 27.07.2004 &#8220;О государственной гражданской службе Российской Федерации&#8221;.</p>

<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kogda-i-kak-mozhno-zapisatsya-na-obuchenie-ili-prinyat-uchastie-v-vebinare">Когда и как можно записаться на обучение или принять участие в вебинаре?</a></h4>
<p>Набор в группы дистанционного обучения проходит ежемесячно, заявки на участие в вебинаре прекращают приниматься за день до мероприятия. <br />
Сделать заявку на обучение или участие в вебинаре можно в любое время на сайте: необходимо выбрать программу обучения или вебинар и  ввести «оставить заявку».<br />
Если вы впервые делаете заказ — система попросит вас зарегистрироваться, т. е. ввести контактные данные в поле «новый слушатель», которые необходимы для дальнейшей работы в системе МирДО, затем можно продолжить оформление заказа.<br />
Если вы уже зарегистрированы в системе МирДО — вам необходимо ввести свои данные в поле «зарегистрированный пользователь» и продолжить оформление заказа.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="mozhno-li-zaklyuchit-dogovor-s-fizicheskim-litsom-i-proizvesti-oplatu-cherez-sberkassu-ili-oplatu-proizvodit-tolko-yuridicheskoe-litso">Можно ли заключить договор с физическим лицом и произвести оплату через сберкассу или оплату производит только юридическое лицо?</a></h4>
<p>Договор на обучение можно заключить с физлицом и произвести оплату от физлица через любой коммерческий банк РФ.</p>

<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kakovy-tehnicheskie-trebovaniya-dlya-uchastiya-v-vebinare-ili-prohozhdeniya-distantsionnogo-kursa">Каковы технические требования для участия в вебинаре или прохождения дистанционного курса?</a></h4>
<p>Поскольку вы читаете этот текст, минимальные требования выполнены, т.к. у вас установлен браузер и есть интернет. Для вашего участия в онлайн-консультациях и вебинарах вам необходимы:</p>
<ul>
	<li>установленный Adobe Flash Player (<a href="http://get.adobe.com/ru/flashplayer/">установить с сайта Adobe</a>),</li>
	<li>колонки, наушники или встроенный динамик &#8211; для того, чтобы слышать голос лектора,</li>

	<li>интернет со скоростью:
	<ul>
		<li>для	хорошего качества	вещания:	0,28	Мбит/с</li>
		<li>для	среднего качества вещания:	0,12	Мбит/с</li>
		<li>для	низкого качества вещания:	0,064 Mбит/с</li>
	</ul></li>
</ul>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>

<h3><a name="distantsionnye-kursy">Дистанционные курсы</a></h3>
<h4><a name="ranchigs">Кто проводит обучение?</a></h4>
<p>Курсы повышения квалификации проводит ФГБОУ ВПО "Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации" (РАНХиГС, лицензия № 001172, серия ААА, рег. № 1138 от 12.04.2011г.; аккредитации № 000953 серия ВВ рег. № 0943 от 04 мая 2011г.)</p>
<h4><a name="kak-oformit-zajavky-na-obuchenie">Как оформить заявку на обучение?</a></h4>
<p>Заявление на обучение <a href="../assets/src/napravlenie-72.zip">72</a>/<a href="../assets/src/napravlenie-120.zip">120</a>/<a href="../assets/src/napravlenie-276.zip">276</a>/<a href="../assets/src/napravlenie-504.zip">504</a> час. скачивается, заполняется, подписывается слушателем, руководителем, ставится печать организации и сканкопия направляется на указанный в заявлении электронный адрес<br />
<p>На основании заяления на обучение со слушателем заключается договор на обучение.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kto-zaklyuchaet-dogovor-i-kakie-dokumenty-oformlyayutsya-dlya-oplaty-za-obuchenie">Кто заключает договор и какие документы оформляются для оплаты за обучение?</a></h4>
<p>Учебное заведение заключает со слушателем (организацией) договор на обучение, выставляет счет на оплату, счет-фактуру, акт выполненных работ. Документы направляются слушателю (организации) по электронной почте и оригиналы заказным почтовым отправлением. Подписанные слушателем оригиналы документов направляются почтой в адрес учебного заведения. Оплата производится по безналичному расчету.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kogda-i-kak-mozhno-nachat-obuchenie">Когда и как можно начать обучение?</a></h4>

<p>Начать обучение можно только после поступления оплаты на р/счет учебного заведения. <br />
После поступления оплаты слушатель зачисляется в группу и на его электронный адрес отправляются необходимые  материалы: инструкция для работы в Системе Дистанционного Обучения (СДО) по выбранной программе и личный код.<br />
Далее следуя инструкциям слушатель регистрируется в СДО, включается в группу и начинает обучение.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kakie-podvodnye-kamni-mogut-tormozit-nachalo-obucheniya">Какие «подводные камни» могут тормозить начало обучения?</a></h4>
<p>Начать обучение возможно в любое ближайшее или выбранное вами удобное время, после оформления заявки и оплаты за обучение, при этом следует учитывать, что время на оформление  заявки, подготовку и пересылку оригиналов документов по почте может занимать 20-30 дней и время на оплату 3-10 дней — эти сроки необходимо учитывать при планировании даты начала обучения. <br />
Если для оплаты достаточно сканкопий документов — приступить к обучению возможно раньше, сразу после поступления оплаты на р/счет учебного заведения, а оригиналы документов слушатель получит позже.</p>
<p>Другой причиной задержки начала обучения может быть задержка отправки подписанных слушателем оригиналов документов в адрес учебного заведения или задержка оплаты за обучение.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>

<h4><a name="iz-chego-sostoit-uchebnyy-material-distantsionnogo-kursa-povysheniya-kvalifikatsii">Из чего состоит учебный материал дистанционного курса повышения квалификации?</a></h4>
<p>Каждый учебный курс разрабатывается в строгом соответствие требованиям предъявляемым к государственным образовательным программам различного уровня подготовки.</p>
<p>Учебный материал различных программ состоит как правило из (стандартного набора) нескольких модулей: информационно-обучающий модуль – это выстроенные в логической последовательности  материалы обучения для изучения теории; операционный модуль — это практические  задания выполнение которых закрепляет полученные знания ; контрольный модуль – включает выполнение промежуточных тестов по темам обучения и итоговое тестирование; дополнительный модуль — предусматривает в зависимости от курса и потребностей  обучаемых дополнительные методы обучения: участие в видеопрактикуме, онлайн-консультациях преподавателей, вебинарах,  онлайн-дискусиях,  и др.</p>
<p>При дистанционном обучении слушатель получает доступ к электронной библиотеке и другим информационно-правовым ресурсам обеспечивающим  наиболее полное изучение материала по выбранной программе.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kak-prohodit-obuchenie">Как проходит обучение?</a></h4>
<p>После персональной регистрации в СДО слушатель зачисляется в группу, ему сообщается расписание занятий и открывается доступ к учебно-методическим материалам соответствующих курсов.</p>
<p>Календарный план учебного курса включает ориентировочное время прохождения каждого модуля, даты прохождения промежуточных тестов, ориентировочные даты выполнения практических заданий, дату итогового тестирования, информацию о других видах взаимодействия преподавателей и слушателей и слушателей между собой (участие в онлайн-  дискуссиях, онлайн-консультации преподавателя и др.).</p>
<p>Изучение каждого модуля завершается сдачей промежуточного теста. Положительный результат промежуточного тестирования дает возможность приступить к изучению следующего модуля программы. По окончанию обучения проводится итоговое тестирование. При успешном прохождении итогового тестирования слушателю выдается документ государственного образца – Удостоверение, Свидетельство или Диплом, в зависимости от выбранной программы.</p>

<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kto-reglamentiruet-kolichestvo-uchebnyh-chasov-v-techenie-dnya-ili-eto-vybiraetsya-individualno">Кто регламентирует количество учебных часов в течение дня, или это выбирается индивидуально?</a></h4>
<p>Слушатель самостоятельно планирует свое обучение. Учебное заведение не ведет учет <br />
затраченного на обучение времени. Главное, чтобы слушатель успевал освоить материал и  своевременно выполнял задания и зачетные тесты. Задания выполняются на протяжении изучения очередной темы. Зачетные тесты сдаются в день, следующий за днем завершения изучения темы. Согласно Постановлению Правительства РФ от 06.05.2008 №362, пп. 2 и 3 «Государственных требований к повышению квалификации&#8230;» общий объем учебной нагрузки должен составлять не менее 12 часов в неделю при дистанционной форме обучения.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="ekzamenatsionnye-i-promezhutochnye-testy-sdayutsya-onlayn-v-realnom-vremeni-ili-zapolnyayutsya-doma-i-otpravlyayutsya-v-elektronnom-vide">Экзаменационные и промежуточные тесты сдаются онлайн-в реальном времени или заполняются дома и отправляются в электронном виде?</a></h4>
<p>Все тесты включая экзаменационный выполняются в виде компьютерного<br />
тестирования онлайн в указанный в расписании день. Тестирование закрытое, уведомление о результатах слушатель получает после его завершения. Информационная СДО формирует протокол выполнения теста, который хранится в личном деле. Положительный результат промежуточного тестирования дает возможность приступить к изучению следующего модуля программы. Положительный результат итогового тестирования является основанием для получения итогового документа государственного образца по выбранной программе.</p>

<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="chto-delat-esli-po-uvazhitelnoy-prichine-net-vozmozhnosti-sdat-testy-soglasno-raspisaniyu-obucheniya">Что делать если по уважительной причине нет возможности сдать тесты согласно расписанию обучения?</a></h4>
<p>Данный вопрос решается в индивидуальном порядке. Возможно если по объективной причине слушатель не успевает сдать зачетный тест, необходимо написать заявление о<br />
переносе сдачи теста на другую удобную дату.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kakoy-itogovyy-dokument-vydaetsya-posle-obucheniya-i-kak-ego-poluchit">Какой итоговый документ выдается после обучения и как его получить?</a></h4>
<p>При успешном прохождении итогового тестирования по государственным программам обучения или повышения квалификации слушатель получает документ государственного образца с занесением сведений в реестр специалистов:<br />
<a name=удостоверение> Удостоверение о краткосрочном повышении квалификации по программам объемом от 18 до 72 часов</a>
<img alt="Удостоверние о повышении квалификации", src="../assets/src/удостоверение.jpg">
<a name=свидетельство>Свидетельство повышении квалификации по программам объемом от 73 часов</a>
<img alt="Свидетельство повышении квалификации", src="../assets/src/свидетельство.jpg">
<a name=диплом>Диплом о профессиональной переподготовке по программам объемом более 500 часов</a>
<img alt="Диплом о профессиональной переподготовке", src="../assets/src/диплом.jpg">
Документ высылается заказным почтовым отправлением на адрес слушателя или в кадровую службу организации.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="v-kakoe-vremya-sutok-predusmotreny-onlayn-konsultatsii-u-menya-8-chasovoy-rabochiy-den">В какое время суток предусмотрены онлайн-консультации (у меня 8 часовой рабочий день)?</a></h4>
<p>Как правило онлайн-консультации планируются на выходной день (суббота) или с учетом часовых поясов слушателей данной группы в удобное для всех время (по московскому  времени). Если у слушателя нет возможности в это время принять личное участие, для большинства курсов предусмотрена возможность просмотра учебного мероприятия в записи.</p>
<h3><a name="vebinary-onlayn-seminary">Вебинары, онлайн-семинары</a></h3>
<h4><a name="chto-takoe-vebinar">Что такое вебинар?</a></h4>
<p>Вебинар (Онлайн-семинар) -- разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени. Во время веб-конференции каждый из участников находится у своего компьютера, а связь между ними поддерживается через Интернет посредством загружаемого приложения, установленного на компьютере каждого участника, или через веб-приложение. </p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="chto-delat-posle-oformleniya-zayavki-na-uchastie-v-vebinare">Что делать после оформления заявки на участие в вебинаре?</a></h4>
<p>После оформления заявки на участие в вебинаре вашему заказу будет присвоен порядковый номер, заказ поступит в обработку и в течение 24 часов на электронный адрес участника  поступит уведомление о регистрации и расчетные документы для оплаты. <br />
Оплата производится по безналичному расчету до начала мероприятия.<br />
После поступления оплаты, в течение 24 часов до начала мероприятия, на электронный адрес участника высылается ссылка для входа в вебинар.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kak-oplachivat"> Как оплачивать участие в вебинаре и какие документы предоставляются?</a></h4>
<p>Организатор заключает с участником (организацией) договор на оказание  информационно-консультационых услуг и выставляет счет на оплату — документы направляются участнику по электронной почте. Оплата производится по безналичному расчету до начала мероприятия.</p>

<p>В течение 3 дней после мероприятия в адрес участника (организации) заказным почтовым отправлением направляются оригиналы договора и акт выполненных работ.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kak-vklyuchitsya-v-vebinar">Как включиться в вебинар?</a></h4>
<p>В течение 24 часов до начала мероприятия слушатели оплатившие участие получают на свой электронный адрес ссылку для входа в вебинар. За 10-15 мин. перед началом мероприятия нужно по ссылке подключиться к вебинару, т. е. «зайти» в виртуальный класс в котором находятся участники и лектор. Во время мероприятия оказывается техническая поддержка  по телефонам указанным в приглашении.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="kak-prohodit-vebinar-mozhno-li-zadavat-voprosy-lektoru">Как проходит вебинар, можно ли задавать вопросы лектору?</a></h4>
<p>Современные интернет-технологии позволяют участникам вебинара добиться эффекта и качества непосредственных очных семинаров. На экране монитора участники видят и слышат лектора в режиме реального времени, могут задавать ему вопросы в чате, с возможностью получить голосовой ответ, видят список всех участников. Дополнительно на вебинаре могут быть использованы презентации, тексты, онлайн-обсуждение и другие форматы обучающих материалов, доступные всем слушателям.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
<h4><a name="predusmotren-li-na-vebinare-razdatochnyy-material">Предусмотрен ли на вебинаре раздаточный материал ?</a></h4>

<p>Как и на обычном семинаре участники вебинара получают «раздаточный материал» по теме, только в электронном виде: презентационный материал и подборку документов подготовленных лектором. Если у организатора предусмотрена возможность — материал можно скачать во время вебинара или он направляется участнику после мероприятия в течение 1-2 дней. Если организатором предусмотрена возможность просмотра записи вебинара, то участнику предоставляется дополнительная ссылка для просмотра вебинара.</p>
<p style="text-align:right;"><a href="#toc">Вернуться к содержанию</a></p>
</div>
