--- 
menu_title: Дистанционные курсы
title: Дистанционные курсы по государственному и муниципальному заказу
---

%p Программы дистанционных курсов разработаны для специалистов заказчика, специалистов уполномоченных органов, включая функции председателей и членов комиссий по размещению заказов; работников специализированных организаций, предоставляющих услуги в данной сфере деятельности; специалистов государственных и муниципальных органов, контрольных и осуществляющих нормативное правовое регулирование в сфере размещения государственных и муниципальных заказов и соответствуют Требованиям к минимуму содержания дополнительной профессиональной образовательной программы «Управление государственными и муниципальными заказами», утвержденным Министерством образования и науки Российской Федерации 02.10.2006 г. 
- actual_kurses.each do |i|
  .post
    %h2.title
      <a name="kurs-#{i[:id]}"></a>
      = link_to(i[:title], i.identifier)
    %p.meta
      %span.date
        Учебное заведение: 
        = link_to("РАНХиГС","/как-проходит-обучение/#ranchigs")
      %span.posted
        Стоимость:
        %span.price= "#{number_to_currency i[:price]}"
    .entry
      %p= i[:brief] 
      %p.links
        = link_to("Программа курса", i.identifier)
        &nbsp;|&nbsp;
        = link_to('Заявление на обучение', "../assets/src/napravlenie-ugmz-#{i[:volume]}.zip")

      
