--- 
menu_title:  Новости
title:  Новости государственного и муниципального заказа
---
  
- date_sorted_news.each do |i|
  .post
    %h2.title= link_to(i[:title], i.identifier)
    %p.meta
      %span.date=news_date=i.identifier.match(/\d\d-\d\d-\d\d\d\d/)[0]
      - if  Date.strptime(news_date, "%d-%m-%Y").year < 2012
        %span.posted
          Новости с сайта
          %a{:href => "http://www.gov-zakupki.ru", :rel=> "nofollow"} (гов-закупки.ру)
    .entry
      %p= i[:brief] 
      %p.links= link_to("Читать далее...", i.identifier)
      
