--- 
menu_title:  Обратная связь
title:  Обратная связь
---

<h3 style="padding-top:10px">Госзаказ дистанционное обучение</h3>
<div style="padding-top:10px;padding-bottom:10px"><font face="Arial" size="3" color="#000000">Телефон/факс: 8(499)709-89-47</font></div>
<table style="font-size:medium;padding-top:1em;padding-bottom:1em">
</table>
<form id="emf-form" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/JN7Goxv6ESIiUh4Rrj" name="emf-form">
  <table style="text-align:left;" cellpadding="2" cellspacing="0" border="0" bgcolor="transparent">
    <tr valign="top">
      <td style="" align="">
        <font face="Arial" size="2" color="#000000"><b>Ваше имя</b></font> <span style="color:red;"><small>*</small></span>
      </td>
    </tr>
    <tr>
      <td style="">
        <input id="element_0" name="element_0" value="" size="30" class="validate[required]" type="text" />
        <div style="padding-bottom:8px;color:#000000;"></div>
      </td>
    </tr>
    <tr valign="top">
      <td style="" align="">
        <font face="Arial" size="2" color="#000000"><b>Ваша эл. почта</b></font> <span style="color:red;"><small>*</small></span>
      </td>
    </tr>
    <tr>
      <td style="">
        <input id="element_1" name="element_1" class="validate[required,custom[email]]" value="" size="30" type="text" />
        <div style="padding-bottom:8px;color:#000000;"></div>
      </td>
    </tr>
    <tr valign="top">
      <td style="" align="">
        <font face="Arial" size="2" color="#000000"><b>Сообщение</b></font> <span style="color:red;"><small>*</small></span>
      </td>
    </tr>
    <tr>
      <td style="">
        <textarea id="element_2" name="element_2" cols="60" rows="10" class="validate[required]">
</textarea>
        <div style="padding-bottom:8px;color:#000000;"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="left">
        <input name="element_counts" value="3" type="hidden" /> <input name="embed" value="forms" type="hidden" /><input value="Отправить" type="submit" /><input value="Очистить" type="reset" />
      </td>
    </tr>
  </table>
</form>
