- @item[:child].each do |i|
  .post
    %h2.title= link_to(i[:title], i.identifier)
    %p.meta
      %span.date
        Дата:&nbsp;
        %span.price
          = event_date(i[:start_at],i[:end_at])
    .entry
      %p= i[:brief] 
      %p
        %strong
          Ведущий вебинара: 
        = i[:lecturer]
      %p.links
        = link_to("Программа вебинара", i.identifier)

      
