.kurs
  %p
    %strong
      Учебное заведение: 
      = link_to("РАНХиГС","/как-проходит-обучение/#ranchigs")
  %p
    %strong
      Стоимость:
      = "от #{number_to_currency @item[:price]}"
  %p.links= link_to('Заявление на обучение', "../../assets/src/napravlenie-ugmz-#{@item[:volume]}.zip")
= yield
