!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title 
      = item[:title] || 'Вебинары и дистанционное обучение государственный и муниципальный заказ'
    %link{:href => "/assets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wrapper
      #page
        #page-bgtop
          #page-bgbtm
            #content
              - if breadcrumbs_trail.size > 2
                %h2.page_title= @item[:title]
              -elsif @item[:menu_title]
                %h1.page_title= @item[:menu_title]
              = yield
              %p
                %strong
                  Ведущий вебинара: 
                = @item[:lecturer]
              %p
                %strong Время проведения вебинара:
                =event_date(@item[:start_at], @item[:end_at])
                ="c #{time(item[:start_at])} до #{time(item[:end_at])} (по моск. времени)"
              %p.links
                = link_to('Перейти на страницу регистрации', "http://www.mirdo.ru/products/#{@item[:id]}")
            #sidebar
              #logo
                %h1
                  %a{:href => "/"} госзаказ-до
                %p
                  дистанционные курсы и вебинары
              #menu
                = render_navigation
              %ul
                %li
                  %h2 Каталог курсов
                  %p
                    Дистанционные курсы в 2012 г. для государственных и муниципальных служащих (
                    = link_to("скачать в формате pdf", "../../assets/src/programm-do-2012.pdf")
                    )
                %li
                  = render_webinars_archive  
                %li
                  %h2 Курсы
                  %ul
                    - @items.find{|i| i.identifier == '/курсы/'}.children.each do |i|
                      - if i[:id] == 8 or i[:id] == 9
                        %li.cases
                          = link_to(i[:title], "/курсы/#kurs-#{i[:id]}") 
            / end #sidebar
            %div{:style => "clear: both;"} &nbsp;
      / end #page
    #footer
      %p
        © 2011 goszakaz-do.ru. 
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15914359-3']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script> 
    <!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter13711828 = new Ya.Metrika({id:13711828, enableAll: true, webvisor:true,params:window.yaParams||{ }}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/13711828" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    / end #footer
